<header class="site-header" role="banner">

    {% if site_logo %}
        <a href="{{ url }}" title="{{ 'Home'|t }}" rel="home" class="logo">
            <img src="{{ site_logo }}" alt="{{ 'Home'|t }}"/>
        </a>
    {% endif %}

    <div class="main-menu">
        {{ main_menu }}
    </div>


</header>