
{%
    set classes = [
        'node',
        'node--type-' ~ node.bundle|clean_class,
        node.isPromoted() ? 'node--promoted',
        node.isSticky() ? 'node--sticky',
        not node.isPublished() ? 'node--unpublished',
        view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
%}


<{{ element ?: "article" }} {{ attributes.addClass(classes).addClass(extraClasses) }}>

{{ title_suffix }}


    <div class="all-dates-detail">
        <a href="{{ url }}">
            {{ displayFromToDates(date_from, date_to, 'j', 'M') }}
        </a>
    </div>


</{{ element ?: "article" }}>
