
{{ attach_library('classy/node') }}

{%
    set classes = [
        'node',
        'node--type-' ~ node.bundle|clean_class,
        node.isPromoted() ? 'node--promoted',
        node.isSticky() ? 'node--sticky',
        not node.isPublished() ? 'node--unpublished',
        view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
        (has_hero_image ? 'has-hero-image' : 'no-hero-image')
    ]
%}

<article id="node-{{ node.id }}" {{ attributes.addClass(classes) }}>

    {% if not node.isPublished() %}
        <div class="overlay-text content-unpublished">
            This content is unpublished
        </div>
    {% endif %}


    {% include "@molecules/hero/hero.twig" %}


    {% if listing_above %}
        {% include "@organisms/listings/listings.twig" %}
    {% endif %}


    <div{{ content_attributes.addClass('node__content') }}>

        {{ content|without(
            'comment',
            'links',
            'field_date_range',
            'field_subtitle',
            'field_main_image',
            'field_related_content_heading'
        )}}

    </div>


    {% if not listing_above %}
        {% include "@organisms/listings/listings.twig" %}
    {% endif %}


    {% if custom_blocks %}

        {% for block in custom_blocks %}
            <div class="custom-block container row {{ block['class'] }} ">
                {{ block['block'] }}
            </div>
        {% endfor %}

    {% endif %}


    {% if custom_include %}

        {% for include in custom_include %}
            <div class="custom-include container row">
                {% include include %}
            </div>
        {% endfor %}

    {% endif %}


    {% if display_submitted %}
        <footer class="node__meta">
            {{ author_picture }}
            <div{{ author_attributes.addClass('node__submitted') }}>
                {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                {{ metadata }}
            </div>
        </footer>
    {% endif %}


    {% if content.field_related_content|render %}

        <div class="related-content row">

            {% if content.field_related_content_heading|render %}
                <h2>{{ content.field_related_content_heading|field_value }}</h2>
            {% endif %}

            {{ content.field_related_content }}

        </div>

    {% endif %}


</article>